<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    
    <link rel="stylesheet" href="/static/fonts/icomoon/style.css">
  
    <link href='/static/fullcalendar/packages/core/main.css' rel='stylesheet' />
    <link href='/static/fullcalendar/packages/daygrid/main.css' rel='stylesheet' />

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="/static/css/style.css">

    <title>11시 57분</title>

    <style>
     .fc-other-month{
    opacity: 0.1;
    background-color : gray;
}
    </style>
  </head>
  <body>

{% if user.is_authenticated %}

<div  style="position: fixed; right: 30px; top: 15px; z-index:1;">
  <a type="button" class="btn" href="/diary/" style="font-size:25px; color:#897168;">
    HOME
  </a>
  </div>
  <div id='calendar-container'>

    <div id='calendar'>

    </div>

  </div>
    
    

    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <script src='/static/fullcalendar/packages/core/main.js'></script>
    <script src='/static/fullcalendar/packages/interaction/main.js'></script>
    <script src='/static/fullcalendar/packages/daygrid/main.js'></script>
    <script src='/static/fullcalendar/packages/timegrid/main.js'></script>
    <script src='/static/fullcalendar/packages/list/main.js'></script>

    

    <script>
      document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: ['dayGrid'],
      height: 'parent',
      header: {
        left: 'prev,next today',
        center: 'title',
        right : ""
      },
      defaultView: 'dayGridMonth',
      defaultDate: '{{today}}',
      navLinks: false, // can click day/week names to navigate views
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: [
        {% for i in writen %}
          {
              {% if today == i.created_at|date:'Y-m-d'%}
                title:"{{i.writen_title}}{% if i.type_num.type_num == 0 %} 😄",
                {% elif i.type_num.type_num == 1%} 😍",
                {% elif i.type_num.type_num == 2%} 😢",
                {% elif i.type_num.type_num == 3%} 😡",
                {% elif i.type_num.type_num == 4%} 😟",
                {% elif i.type_num.type_num == 5%} 😐",
                {%endif%}
                url:"/diary_detail/{{i.writen_num}}/",
                start:"{{i.created_at|date:'Y-m-d'}}",
                backgroundColor: "#EF5350",
                borderColor : "#EF5350",

              {% else %}
                title:"{{i.writen_title}}{% if i.type_num.type_num == 0 %} 😄",
                {% elif i.type_num.type_num == 1%} 😍",
                {% elif i.type_num.type_num == 2%} 😢",
                {% elif i.type_num.type_num == 3%} 😡",
                {% elif i.type_num.type_num == 4%} 😟",
                {% elif i.type_num.type_num == 5%} 😐",
                {%endif%}
                url:"/diary_detail/{{i.writen_num}}/",
                start:"{{i.created_at|date:'Y-m-d'}}"
              {% endif %}

          },
        {%endfor%}
        {% if today_check == 0 %}
          {
            title:"일기 작성하기",
            url:"/diary_write/{{diary_num}}/",
            start:"{{today}}",
            backgroundColor: "#EF5350",
            borderColor : "#EF5350"
          },
         {%endif%}
      ]
    });

    calendar.render();
  });

    </script>

    <script src="/static/js/main.js"></script>

{%else%}
    <script type="text/javascript">
        alert('로그인해주세요');
        window.location.href='{%url "main_page"%}';
    </script>
{%endif%}
  </body>
</html>