{% extends 'wecando/base.html' %}
{% load static %}
{% block main_area %}
    <div class="container my-3">
        <form class="form-inline center" method="post" enctype="multipart/form-data">
                {% csrf_token %}
        <div class="row h-100 w-100 align-items-center">
            <div class="col">

                    <input type="file" onchange="readURL(this);" name="img_file" >

                    <br />

                    <img id="preview" width="1250px" height = "500px"/>



            </div>
        </div>
        <div class="row h-100 w-100 ">
            <div class="col">
                <button class="btn float-end" type="submit">
                    <img src="{% static 'wecando/image/save.png' %}" width="70px">
                </button>
            </div>
        </div>
            </form>
    </div>

<script>
    function readURL(input) {
	if (input.files && input.files[0]) {
		var reader = new FileReader();
		reader.onload = function(e) {
			document.getElementById('preview').src = e.target.result;
		};
		reader.readAsDataURL(input.files[0]);
	} else {
		document.getElementById('preview').src = "";
	}
}
</script>
{% endblock %}