{% extends 'wecando/base.html' %}
{% load static %}
{% block main_area %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">

<button onclick="history.back();"  class="btn"
     style="float:left; color:#897168; font-size:20px;" >
    <- BACK
</button>
<style> body {
            background-color: #FEFCF3;
       }

</style>
<div class="container" style="height:500px">
    <div class="row h-100 w-100 align-items-center">
        <div class="col-7">
            <div class="container text-center">
                <h4>{{writen.writen_title}}</h4>
                {{writen.writen_content}}
            </div>
        </div>
        <div class="col-5">
            <div class="container text-center">
                <div class="card" style="width: 27rem; border : none;background-color:#FEFCF3;" > <!-- 로그인 카드 생성-->

                    <h1  style="color:#897168;">감정 분류 결과</h1>
                    </br>
                    <form class="form-inline center ms-4" method="post"
                          enctype="multipart/form-data"> <!-- POST 메소드로 데이터를 서버에 전송해주는 폼 생성. -->
                        {% csrf_token %} <!-- 보안을 위해 CSRF 토큰 추가. -->
                        {% include 'wecando/form_errors.html' %}<!-- 오류 메시지를 출력하는 템플릿 추가. -->
                        <div class="row h-100 w-100 align-items-center">
                            <div class="col-9">
                                <div style="visibility: hidden; width:0px; height:0px;">
                                    <label class="form-label" style="width: 500px;" for="writen_title">제목:
                                        <input type="text" style="background-color:transparent; border:none; "
                                               id="writen_title" name="writen_title" value="{{ writen.writen_title }}">
                                    </label>

                                    <label class="form-label" for="writen_content">
                                    </label>
                                    <textarea class="content"
                                              style="background-color:transparent; resize:none; items-align:center; border:none;"
                                              id="writen_content"
                                              name="writen_content">{{ writen.writen_content }}
                                </textarea>
                                    <div class="imgup" style="visibility: hidden; width: 0px; height:0px;">
                                        <div class="button">
                                            <label for="img_file">
                                                <img src="{% static 'wecando/image/image.png' %}" width="60px">
                                                <input type="file" id="img_file" name="img_file" accept="image/*"
                                                       onchange="loadFile(this)"
                                                       style="visibility: hidden;"
                                                       value="{{ writen.img_file }}">
                                            </label>
                                        </div>

                                    </div>
                                </div>
                                <div class="mb-2">
                                    저희가 분석한 감정은 <b>{{writen.type_num.type_name}}</b>입니다. <br/>
                                    잘못 분석했다면 아래에서 올바른 감정을 선택해주세요.
                                </div>

                                <div class="type">
                                    <div class="input-group mb-3">
                                        <label class="input-group-text" for="type_num">분류</label>
                                        <select class="form-select" id="type_num" name="type_num">
                                            <option selected value="10">잘 분류했어요</option>
                                            <option value="0">기쁨</option>
                                            <option value="1">사랑</option>
                                            <option value="2">슬픔</option>
                                            <option value="3">분노</option>
                                            <option value="4">걱정</option>
                                            <option value="5">중립</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                    <button class="btn" type="submit" style="color:#897168; font-size:30px">
                                        SAVE
                                    </button>
                                </div>

                            </div>

                        </br>


                    </form>
                    {{ form.media }}
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}