{% extends "wecando/base.html" %}
{% load static %}
{% block main_area %}

<style>
    .back{
        min-height:800px;
    }
    .content{
        min-height:400px;
    }
</style>

<a type="button" href="/calendar/{{write.diary_num.diary_num}}/"
   style="float:left; color:#897168; font-size:25px; text-decoration: none;">
    calendar
</a>

    <div class="row h-100 w-100 align-items-center">
    <div class="col">
        <div class="container my-3  back  " style="background-color:#FFFAF4; width: 850px; ">
    <div class="row">
        <div class="col">
            <figure>
                <div class="row mt-2">
                    <div class="col">
                        <a href="/" style="text-decoration: none; ">
                            <button class="btn" style="color:#897168; font-size:25px" type="button"
                                    onclick="write_delete();">delete
                            </button>
                        </a>

                        <a href="/diary_update/{{write.pk}}/" style="text-decoration: none;">
                            <button class="btn" style="color:#897168; font-size:25px" type="button"
                                    onclick="diary_update();">edit
                            </button>
                        </a>
                    </div>
                </div>
                <div class="row my-2">
                    <div>
                        <h3 style=" text-align:center;">{{ write.writen_title }}</h3>
                        <p style=" text-align:right; font-size:20px">
                            {{ write.created_at }}
                            {% if write.type_num.type_num == 0 %}
                            😄
                            {% elif write.type_num.type_num == 1%}
                            😍
                            {% elif write.type_num.type_num == 2%}
                            😢
                            {% elif write.type_num.type_num == 3%}
                            😡
                            {% elif write.type_num.type_num == 4%}
                            😟
                            {% elif write.type_num.type_num == 5%}
                            😐
                            {%endif%}
                        </p>
                        <p style="text-align:center;   font-size:20px" class="content">{{ write.writen_content | linebreaksbr }}</p>


                    </div>
                </div>

                <div class="row ms-2">

                    <div class="col">

                        <div class="row mb-4">
                            <audio autoplay controls loop style="visibility: hidden; width:0px; height:0px;">
                                <source src="/static/wecando/music/{{write.music_num.music_file}}" type="audio/mp3">
                            </audio>
                            <span>🎧 {{write.music_num.music_title}} - <b>{{write.music_num.music_singer}}</b></span>

                        </div>
                        <div class="row">
                            <b><span>💬 - {{write.wise_num.wise_author}}</span></b>
                            <span> "{{write.wise_num.wise_content}}"</span>


                        </div>

                    </div>
                    <div class="col">
                        <div class="row h-100 w-100 align-items-center">
                            <div class="col">
                                {% if write.img_file %}
                                <img src="{{write.img_file.url}}" width="200px" height = "200px"
                                     style="margin-left: auto; margin-right: auto; display: block;">
                                {% else %}

                                {%endif%}
                            </div>
                        </div>
                    </div>

                </div>

                <script>
                    function write_delete(){
                          var res = confirm('삭제하시겠습니까?');
                          if(res){
                            window.location.href = "{% url 'write_delete' write.pk %}"
                            alert("삭제되었습니다.");
                          }
                        }
                    function write_update(){
                          var res = confirm('수정하시겠습니까?');
                          if(res){
                            window.location.href = "{% url 'diary_update' write.pk %}"
                          }
                        }
                </script>

            </figure>

        </div>

    </div>

</div>
    </div>
</div>



{% endblock %}

