{% extends "wecando/base.html" %}
{% load static%}
{% block main_area %}
    <div class="container">
        <!-- 일기장 개수에 따라 for 문으로 생성 -->
        <div class="row h-100 w-100 align-items-center mt-3">
            <div class="col text-center">
                <button class="btn">
                <img width="250px" src="{% static 'wecando/image/diary_example.png' %}">
            </button>
            </div>
            <div class="col text-center">
                <button class="btn">
                <img width="250px" src="{% static 'wecando/image/diary_example.png' %}">
            </button>
            </div>
            <div class="col text-center">
                <button class="btn">
                <img width="250px" src="{% static 'wecando/image/diary_example.png' %}">
            </button>
            </div>
        </div>

        <div style="position: absolute; right: 80px; bottom: 80px;">
            <a class="btn" href="/diary_create/">
                <img width="100px" src="{% static 'wecando/image/diary_add.png' %}">
            </a>
        </div>
    </div>
{% endblock %}
