{% extends 'wecando/base.html' %}
{% load static %}
{% block main_area %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">

<style>
    .center{
        position: absolute;
        top: 50%;
        left: 33%;
        transform: translate(-50%, -50%);
    }

    figure {
      position: relative;
    }

  .figcaption2 {
    background: rgba(0, 0, 0, 0.0);
    padding: 1em;

    position: absolute;
    bottom: -5%;
    left:220%;
    }
  .today {
    position: absolute;
    top: 6%;
    right: 20%;
  }

  #chooseFile {
    visibility: hidden;
  }

</style>
<button onclick="history.back();" class="btn"
        style="float:left; color:#897168; font-size:20px;">
    <- BACK
</button>

<div class="row h-100 w-100 align-items-center">
    <div class="col">
        <figure class="mt-3">
            <img src="{% static 'wecando/image/diary_write3.png' %}"
                 style="width: 850px; height:750px;display: block; margin: 0 auto;" class="backgroundimg">
            <div id="current_date" class="today">
                {{ writen.created_at }}
            </div>


            <div id="center" class="">
                <form class="form-inline center" method="post" action="{% url 'diary_update' writen.pk %}"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    {% include 'wecando/form_errors.html' %}<!-- 오류 메시지를 출력하는 템플릿 추가. -->
                    <fieldset style="width:300px; border:hidden;">
                        <legend align="center" style="background-color:transparent"></legend>
                        <div class="form-group mb-3" style="border:0 solid black display: block;">
                            <label class="form-label" style="width: 500px;" for="writen_title">
                                <input type="text" style="background-color:transparent; border:none; width:400px;"
                                       id="writen_title" name="writen_title" value="{{ writen.writen_title }}">
                            </label>

                            <label class="form-label" for="writen_content">
                            </label>
                            <textarea class="content"
                                      style="background-color:transparent; resize:none; width:750px; height:400px; items-align:center; border:none;"
                                      id="writen_content" name="writen_content">{{ writen.writen_content }}</textarea>
                        </div>
                        {% if writen.img_file %}
                            <div class="row">
                                <div class="col-4">
                                    <div class="imgup" style="width:90px; margin-top: 100px;">
                                        <div class="button" style="width:80px">
                                            <label for="img_file" style="width:70px">
                                                <img src="{% static 'wecando/image/image.png' %}" width="60px">
                                                <input type="file" id="img_file" name="img_file" accept="image/*"
                                                       onchange="readURL(this);" style="visibility: hidden; width:5%;"
                                                       value="{{ writen.img_file }}">
                                            </label>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-8">
                                    <img id="preview" width="180px" height="230px" src="{{ writen.img_file.url }}"/>
                                </div>
                            </div>
                        {%else%}
                            <div class="row">
                                <div class="col-4">
                                    <div class="imgup" style="width:90px; margin-top: 100px;">
                                        <div class="button" style="width:80px">
                                            <label for="img_file" style="width:70px">
                                                <img src="{% static 'wecando/image/image.png' %}" width="60px">
                                                <input type="file" id="img_file" name="img_file" accept="image/*"
                                                       onchange="readURL(this);" style="visibility: hidden; width:5%;">
                                            </label>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-8">
                                    <img id="preview" width="180px" height="230px"/>
                                </div>
                            </div>
                        {%endif%}
                        <div style="position: fixed; bottom: 0%; right:-195%;">
                            <button class="btn" type="submit">
                                <img src="{% static 'wecando/image/save.png' %}" width="70px">
                            </button>
                        </div>
                    </fieldset>
                </form>
                {{ form.media }}
            </div>
        </figure>
    </div>
</div>
<script>
    function readURL(input) {
	if (input.files && input.files[0]) {
		var reader = new FileReader();
		reader.onload = function(e) {
			document.getElementById('preview').src = e.target.result;
		};
		reader.readAsDataURL(input.files[0]);
	} else {
		document.getElementById('preview').src = "";
	}
}
</script>
{% endblock %}