{% extends 'wecando/base.html' %}
{% load static %}
{% block main_area %}
<div class="container my-3 d-flex justify-content-center" style="height:590px;">
    <form class="form align-self-center ms-5" method="post" enctype="multipart/form-data" style="width:300px;">
        {% csrf_token %}
        {% include 'wecando/form_errors.html' %}<!-- 오류 메시지를 출력하는 템플릿 추가. -->
        <div style="position: absolute; left: 30%; top: 8%;">
            <div class="row">
                <div class="col-3">
                    <label for="upload-input" id="upload-button">
                      <img src="{% static 'wecando/image/image.png' %}" alt="Upload Icon" id="upload-icon" width="70px;">
                    </label>
                    <input type="file" onchange="readURL(this);" name="img_file" id="upload-input" style="visibility: hidden;">
                </div>
                <div class="col-9">
                    <br>
                    <div id="file-name"></div>
                </div>
            </div>
        </div>
        <div style="position: absolute; left: 35%; top: 15%;">
            <img id="preview" width="400px" height="550px"/>
        </div>
        <div style="position: absolute; right: 32%; bottom: 8%;">
            <button class="btn" type="submit">
                <img src="{% static 'wecando/image/save.png' %}" width="70px">
            </button>
        </div>
    </form>
</div>

<script>
    function readURL(input) {
    if (input.files && input.files[0]) {
       var reader = new FileReader();
       reader.onload = function(e) {
          document.getElementById('preview').src = e.target.result;
        };
       reader.readAsDataURL(input.files[0]);
    } else {
       document.getElementById('preview').src = "";
    }
    document.getElementById('file-name').innerHTML = input.files[0].name;
}
</script>
{% endblock %}