{% extends 'wecando/base.html' %}
{% load static %}
{% block main_area %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">

<style>
    .center{
        position: absolute;
        top: 97%;
        left: 33.6%;
        transform: translate(-50%, -50%);
    }
    textarea.content {
    background-image:
        linear-gradient(to right, transparent 10px, transparent 10px),
        linear-gradient(to left, transparent 10px, transparent 10px),
        repeating-linear-gradient(transparent, transparent 30px, #ccc 10px, #ccc 31px, transparent 10px);
    line-height: 31px;
    padding: 8px 10px;
    vertical-align: middle;
    }
    figure {
      position: relative;
    }

  .figcaption1 {
    background: rgba(0, 0, 0, 0.0);
    padding: 1em;

    position: absolute;
    top: 0;
    left: 17%;
  }
  .figcaption2 {
    background: rgba(0, 0, 0, 0.0);
    padding: 1em;

    position: absolute;
    bottom: -12%;
    left:220%;
    }
  .today {
    position: absolute;
    top: 10%;
    right: 20%;
  }

</style>

<figure>
    <img src="{% static 'wecando/image/diary_write2.png' %}"
         style="width: 850px; display: block; margin: 0 auto;" class="backgroundimg">
    <div id="current_date" class="today">
        <script>
            const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
            document.getElementById("current_date").innerHTML = new Date().toLocaleDateString('ko-KR', options);

        </script>
    </div>
    <figcaption class="figcaption1">
        <img src="{% static 'wecando/image/back.png' %}" onclick="history.back();" width="70px" class="backimg">
    </figcaption>
</figure>

<div id="center" class="my-5">
    <form class="form-inline center" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset style="width:300px; border:hidden;">
            <legend align="center" style="background-color:transparent"></legend>
            <div class="form-group" style="border:0 solid black display: block;">
                <label class="form-label" style="width: 500px;" for="writen_title">제목:
                </label>
                <input type="text" style="background-color:transparent; border:none; width:400px;"
                           id="writen_title" name="writen_title">
                <label class="form-label" for="writen_content">
                </label>
                <textarea class="content"
                        style="background-color:transparent; resize:none; width:800px; height:870px; items-align:center; border:none;"
                        id="writen_content" name="writen_content"></textarea>

            </div>
            <div class="imgup">
                <div class="button">
                    <label for="img_file">
                        <img src="{% static 'wecando/image/image.png' %}" width="60px">
                    </label>
                </div>
                <input type="file" id="img_file" name="img_file" accept="image/*" onchange="loadFile(this)">
            </div>
            <div class="figcaption2">
                <button class="btn" type="submit">
                    <img src="{% static 'wecando/image/save.png' %}" width="70px">
                </button>
            </div>
        </fieldset>

    </form>
    {{ form.media }}
</div>
</div>
{% endblock %}