{% extends "wecando/base.html" %}
{% load static %}
{% block main_area %}
<style>
    figure {
        position: relative;
    }
</style>
<div class="container">

    {% if diary_list %}

    {% for p in diary_list %}
    <div class="row h-100 w-100 align-items-center mt-3">
        <!-- 일기장 개수에 따라 for 문으로 생성 -->
        {% for i in p %}

        <div class="col text-center">
            <a class="btn" href="/calendar/{{i.diary_num}}/">
                <img width="200px" src="{{i.img_file.url}}">
            </a>
        </div>

        {%endfor%}
    </div>
    {%endfor%}
</div>

{%else%}
<div class="row">
    아직 일기장이 없습니다.
</div>
{%endif%}
<div style="position: absolute; right: 80px; bottom: 80px;">
    <a class="btn" href="../diary_create/">
        <img width="100px" src="{% static 'wecando/image/diary_add.png' %}">
    </a>
</div>
</div>
{% endblock %}
