{% extends 'wecando/base.html' %}
{% load static %}
{% block main_area %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
  <style>
    .center{
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
  </style>

<img src="{% static 'wecando/image/diary_write.png' %}"
     style="width: 850px; display: block; margin: 0 auto;">
  <div id="center" class="my-5">
      <form class="form-inline center" role="form" action="" method="post">
          {% csrf_token %}
        <fieldset style="width:300px; border:hidden;">
          <legend align="center" style="background-color:transparent"></legend>
          <div class="form-group" style="border:0 solid black display: block;">
            <label class="form-label mt-4"></label>
              <textarea class="form-control" rows="30" cols="350"
                        style="background-color:transparent"></textarea>
          </div>
        </fieldset>
          <button class="btn" type="submit">
            <img src="{% static 'wecando/image/save.png' %}" width="70px" class="float-end">
          </button>
      </form>
    <img src="{% static 'wecando/image/back.png' %}" onclick="history.back();" width="70px">
  </div>
</div>
{% endblock %}