<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
  <style>
    body {
      font-family: 'Nanum Pen Script', cursive;
      background-image: url('../static/wecando/image/diary_write.png');
      background-width: 500px;
      overflow: scroll;
    }
    .center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
  </style>
  <div id="center">
      <form class="form-inline center" role="form" action="" method=post>
        <fieldset style="width:300px;">
          <legend align="center">Diary</legend>
          <div class="form-group">
            <label for="exampleTextarea" class="form-label mt-4">오늘 하루</label>
            <textarea class="form-control" id="exampleTextarea" rows="35" cols="150"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">save</button>
        </fieldset>
      </form>
  </div>